# –ò–º–µ—é—Ç—Å—è —Å–ª–µ–¥—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ –æ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö –≤ –ø–µ—Ä–∏–æ–¥ —Å 01.12.2010 –ø–æ 12.09.2011:
InvoiceNo ‚Äì –Ω–æ–º–µ—Ä —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏  
StockCode ‚Äì –∫–æ–¥ —Ç–æ–≤–∞—Ä–∞  
Description ‚Äì –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞  
Quantity ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, –¥–æ–±–∞–≤–ª–µ–Ω–Ω—ã—Ö –≤ –∑–∞–∫–∞–∑  
InvoiceDate ‚Äì –¥–∞—Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏   
UnitPrice ‚Äì —Ü–µ–Ω–∞ –∑–∞ –µ–¥–∏–Ω–∏—Ü—É —Ç–æ–≤–∞—Ä–∞  
CustomerID ‚Äì id –∫–ª–∏–µ–Ω—Ç–∞  
Country ‚Äì —Å—Ç—Ä–∞–Ω–∞, –≥–¥–µ –ø—Ä–æ–∂–∏–≤–∞–µ—Ç –∫–ª–∏–µ–Ω—Ç  



–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ data.csv.zip (–≤ –ø–∞–ø–∫–µ) —Å –∫–æ–¥–∏—Ä–æ–≤–∫–æ–π ISO-8859-1. –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ retail, –∞ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é retail_columns.

In [152]:
import pandas as pd
import os

In [153]:
path = r'lesson_5/data.csv.zip'

In [154]:
retail = pd.read_csv(path,compression='zip',encoding='ISO-8859-1')

In [155]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [156]:
retail_columns = retail.columns

# –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –Ω–∞–±–ª—é–¥–µ–Ω–∏—è, –∏ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ. –ï—Å–ª–∏ –æ–Ω–∏ –µ—Å—Ç—å, —Ç–æ —É–¥–∞–ª–∏—Ç–µ –∏—Ö –∏–∑ retail.

In [157]:
retail.duplicated().sum()

5268

In [158]:
print('–í –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è {} –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.'.format(retail.duplicated().sum()))

–í –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è 5268 –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

In [159]:
retail.drop_duplicates(inplace=True)

# ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è
–î–∞–Ω–Ω—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –≤ —Å–µ–±–µ –∑–∞–ø–∏—Å–∏ –∫–∞–∫ –∏ –æ–± —É—Å–ø–µ—à–Ω—ã—Ö —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö, —Ç–∞–∫ –∏ –æ–± –æ—Ç–º–µ–Ω–µ–Ω–Ω—ã—Ö. –ï—Å–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –æ—Ç–º–µ–Ω–∏–ª –∑–∞–∫–∞–∑, –≤ –Ω–∞—á–∞–ª–µ   –Ω–æ–º–µ—Ä–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo) —Å—Ç–∞–≤–∏—Ç—Å—è C (canceled).   
–°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –∑–∞–∫–∞–∑–æ–≤ –æ—Ç–º–µ–Ω–∏–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏?

In [160]:
retail[retail['InvoiceNo'].str.startswith('C')].shape[0]

9251

In [161]:
print('–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –æ—Ç–º–µ–Ω–∏–ª–∏ {} –∑–∞–∫–∞–∑–æ–≤ –≤—Å–µ–≥–æ.'.format(retail[retail['InvoiceNo'].str.startswith('C')].shape[0]))

–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –æ—Ç–º–µ–Ω–∏–ª–∏ 9251 –∑–∞–∫–∞–∑–æ–≤ –≤—Å–µ–≥–æ.

# –¢–µ–ø–µ—Ä—å –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ retail —Ç–æ–ª—å–∫–æ —Ç–µ –∑–∞–∫–∞–∑—ã, –≥–¥–µ Quantity > 0. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —á–∏—Å–ª–æ –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è —Å—Ç—Ä–æ–∫.

In [162]:
retail = retail[retail['Quantity']>0]

In [163]:
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤, –≥–¥–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, –¥–æ–±–∞–≤–ª–µ–Ω–Ω—ã—Ö –≤ –∑–∞–∫–∞–∑ –±–æ–ª—å—à–µ –Ω—É–ª—è —Ä–∞–≤–Ω–æ {}'.format(retail[retail['Quantity']>0].shape[0]))

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–∫–∞–∑–æ–≤, –≥–¥–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, –¥–æ–±–∞–≤–ª–µ–Ω–Ω—ã—Ö –≤ –∑–∞–∫–∞–∑ –±–æ–ª—å—à–µ –Ω—É–ª—è —Ä–∞–≤–Ω–æ 526054

# üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ
–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –∑–∞–∫–∞–∑–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (CustomerID) –∏–∑ –ì–µ—Ä–º–∞–Ω–∏–∏ (Germany).  
–û—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ª—å–∫–æ —Ç–µ—Ö, –∫—Ç–æ —Å–æ–≤–µ—Ä—à–∏–ª –±–æ–ª–µ–µ N —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π (InvoiceNo), –≥–¥–µ N ‚Äì 80% –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å.  
–ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ germany_top (–Ω–µ –≤–µ—Å—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º, —Ç–æ–ª—å–∫–æ id).  
–ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞ ‚Äì InvoiceNo.   
–î–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–∫–∞–∑–∞ –≤ –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–µ—Ç –≤—Å—Ç—Ä–µ—á–∞—Ç—å—Å—è –±–æ–ª–µ–µ 1 —Å—Ç—Ä–æ–∫–∏.

In [164]:
german_users = retail[retail['Country']=='Germany']

In [189]:
count_german_users = german_users.groupby('CustomerID',as_index=True) \
    .agg({'InvoiceNo':pd.Series.nunique}) \
    .sort_values('InvoiceNo',ascending=False) \
    .rename(columns={'InvoiceNo':'orders'})
count_german_users

            orders
CustomerID
12569.0         32
12471.0         30
12720.0         25
12621.0         20
12474.0         18
...            ...
12644.0          1
12612.0          1
12614.0          1
12622.0          1
12426.0          1

[94 rows x 1 columns]

In [190]:
# 80-—ã–π –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å:
N = count_german_users['orders'].quantile(0.8)
N

7.0

In [195]:
top_users = count_german_users[count_german_users['orders']>N].index

In [213]:
top_users

18

# ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è
–ò—Å–ø–æ–ª—å–∑—É—è –æ–±—ä–µ–∫—Ç —Å id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (germany_top), –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –Ω–∞ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —à–∞–≥–µ, –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –Ω–∞–±–ª—é–¥–µ–Ω–∏—è –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ –¥–∞–Ω–Ω—ã—Ö –∑–∞–ø–∏—Å–∏ —Ç–æ–ª—å–∫–æ –ø–æ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏–º –Ω–∞—Å —é–∑–µ—Ä–∞–º. –†–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∑–∞–ø–∏—à–∏—Ç–µ –≤ top_retail_germany.

In [207]:
top_retail_germany = pd.DataFrame()
#top_retail_germany

In [208]:
for i in top_users:
    top_retail_germany = pd.concat((top_retail_germany,retail[retail['CustomerID']==i]))

In [215]:
top_retail_germany

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
142914,548654,21232,STRAWBERRY CERAMIC TRINKET BOX,24,4/1/2011 13:47,1.25,12569.0,Germany
142915,548654,22055,MINI CAKE STAND HANGING STRAWBERY,16,4/1/2011 13:47,1.65,12569.0,Germany
142916,548654,22060,LARGE CAKE STAND HANGING HEARTS,16,4/1/2011 13:47,3.95,12569.0,Germany
142917,548654,21700,BIG DOUGHNUT FRIDGE MAGNETS,12,4/1/2011 13:47,0.85,12569.0,Germany
142918,548654,37447,CERAMIC CAKE DESIGN SPOTTED PLATE,12,4/1/2011 13:47,1.49,12569.0,Germany
...,...,...,...,...,...,...,...,...
383687,570082,POST,POSTAGE,7,10/7/2011 11:19,18.00,12524.0,Germany
515713,579786,22326,ROUND SNACK BOXES SET OF4 WOODLAND,48,11/30/2011 15:31,2.55,12524.0,Germany
515714,579786,21580,RABBIT DESIGN COTTON TOTE BAG,12,11/30/2011 15:31,2.25,12524.0,Germany
515715,579786,22327,ROUND SNACK BOXES SET OF 4 SKULLS,48,11/30/2011 15:31,2.55,12524.0,Germany
515716,579786,POST,POSTAGE,2,11/30/2011 15:31,18.00,12524.0,Germany

# –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ top_retail_germany –ø–æ –∫–æ–¥—É —Ç–æ–≤–∞—Ä–∞ (StockCode).   

–ö–∞–∫–æ–π –∏–∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –¥–æ–±–∞–≤–ª—è–ª–∏ –≤ –∫–æ—Ä–∑–∏–Ω—É —á–∞—â–µ –≤—Å–µ–≥–æ, –∫—Ä–æ–º–µ POST?   
Note: –æ–¥–Ω–∏–º –∑–∞–∫–∞–∑–æ–º —Å—á–∏—Ç–∞–µ—Ç—Å—è –µ–¥–∏–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–∞—è –ø–æ–∫—É–ø–∫–∞ –ª—é–±–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ç–æ–≤–∞—Ä–∞, —Ç.–µ. –±–µ–∑ —É—á–µ—Ç–∞ Quantity.

In [219]:
top_retail_germany.groupby('StockCode') \
    .agg({'InvoiceNo':'count'}) \
    .sort_values('InvoiceNo',ascending=False) \
    .rename(columns = {'InvoiceNo':'Count'})

           Count
StockCode
POST         213
22326         52
22328         38
22423         34
20719         30
...          ...
22563          1
22569          1
22574          1
22576          1
22662          1

[1158 rows x 1 columns]

–ß–∞—â–µ –≤—Å–µ–≥–æ –≤ –∫–æ—Ä–∑–∏–Ω—É –¥–æ–±–∞–≤–ª—è–ª–∏ –ø—Ä–æ–¥—É–∫—Ç 22326

# –í–µ—Ä–Ω–µ–º—Å—è –∫ –∞–Ω–∞–ª–∏–∑—É –ø–æ–ª–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ retail.   
–°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É Revenue —Å —Å—É–º–º–æ–π –ø–æ–∫—É–ø–∫–∏, –∏—Å–ø–æ–ª—å–∑—É—è –∫–æ–ª–æ–Ω–∫–∏ Quantity –∏ UnitPrice.

In [227]:
value = retail['Quantity'] * retail['UnitPrice']
retail['Revenue'] = value

<ipython-input-227-b319a463ae51>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retail['Revenue'] = value

In [228]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

# –î–ª—è –∫–∞–∂–¥–æ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo), –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Å—É–º–º—É –∑–∞–∫–∞–∑–∞.  
–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —Ç–æ–ø-5 (InvoiceNo) –ø–æ —Å—É–º–º–µ –∑–∞–∫–∞–∑–∞ (—á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é —Å –ø—Ä–æ–±–µ–ª–æ–º –∏ –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è TotalRevenue)

In [236]:
top_5_rev = retail.groupby('InvoiceNo') \
    .agg({'Revenue':'sum'}) \
    .sort_values('Revenue',ascending=False) \
    .rename(columns={'Revenue':'total_cost'}) \
    .head(5)

In [249]:
lst = top_5_rev.index
lst.str.cat(sep=', ')

'581483, 541431, 574941, 576365, 556444'